<br />
<div class="row">
    <div class="col s12 l12 m12">
        <div class="card padding-12x">
            <div class="card-content whole-content-profile">
                <div class="pull-left">
                    <div class="pull-left">
                        <img src="http://placehold.it/300x300" class="img img-responsive" id="view-profile-img"/>
                    </div>
                    <div class="pull-right margin-left-10x">
                        <p class="font-size-20  base-color font-weight-200">Travis Nelison</p>
                        <p class="font-size-12 text-muted margin-top-20x margin-left-2x">travisnelison@pateron.com</p>
                        <p class="font-size-12 text-muted margin-top-8x margin-left-2x">+91-0000000000</p>
                        <button class="btn-flat btn-mini font-size-12 margin-top-8x waves-effect waves-teal color-black">Push Message</button>
                    </div>
                    <span class="clearfix"></span>
                </div>
                <div class="pull-right">
                    <ul class="container-details border-left padding-left-2x">
                        <li>
                            <p><i class="mdi mdi-account text-more-muted"></i> <span class="font-size-12 text-more-muted ">Data Scientist</span></p>
                        </li>
                        <li>
                            <p class="margin-top-1x"><i class="mdi mdi-phone text-more-muted"></i> <span class="font-size-12 text-more-muted">+91-8181824644</span></p>
                        </li>
                        <li>
                            <p class="margin-top-1x"><i class="mdi mdi-web text-more-muted"></i> <span class="font-size-12 text-more-muted">www.travisneilson.com/devtips</span></p>
                        </li>
                        <li>
                            <p class="margin-top-1x"><i class="mdi mdi-map-marker text-more-muted"></i> <span class="font-size-12 text-more-muted">Kolkata, IN</span></p>
                        </li>

                    </ul>
                </div>
                <span class="clearfix"></span>
            </div>
        </div>
    </div>
    <div class="col s12 l12 m12">
        <div class="card eee">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 padding-right-0 padding-left-0">
                        <ul class="tabs card">
                            <li class="tab col s2"><a ng-click="currentTab='about'">About</a></li>
                            <li class="tab col s2"><a ng-click="currentTab='details'">Details</a></li>
                            <li class="tab col s2"><a ng-click="currentTab='exp'">Work Expe.</a></li>
                            <li class="tab col s2"><a ng-click="currentTab='edu'">Education</a></li>
                            <li class="tab col s2"><a ng-click="currentTab='salary'">Salary</a></li>
                            <li class="tab col s2"><a ng-click="currentTab='attendance'">Attendance</a></li>
                        </ul>
                    </div>
                    <div id="test1" ng-show="currentTab == 'about'">
                        <br /><br />
                        <div class="row">
                            <div class="col s6 margin-top-10x">
                                <div class="quesans">
                                    <p class="font-size-14 font-weight-600 text-muted">Employee Id</p>
                                    <p class="font-size-16 font-weight-100 text-muted">46</p>
                                </div>
                                <div class="quesans">
                                    <p class="font-size-14 font-weight-600 text-muted">Department</p>
                                    <p class="font-size-16 font-weight-100 text-muted">Data Analytics</p>
                                </div>
                                <div class="quesans">
                                    <p class="font-size-14 font-weight-600 text-muted">Role</p>
                                    <p class="font-size-16 font-weight-100 text-muted">Data Scientist</p>
                                </div>
                                <div class="quesans">
                                    <p class="font-size-14 font-weight-600 text-muted">Source Of Hire</p>
                                    <p class="font-size-16 font-weight-100 text-muted">LinkedIn</p>
                                </div>
                                <div class="quesans">
                                    <p class="font-size-14 font-weight-600 text-muted">Seating Location</p>
                                    <p class="font-size-16 font-weight-100 text-muted">B-46</p>
                                </div>

                            </div>
                            <div class="col s6 margin-top-10x">
                                <div class="quesans">
                                    <p class="font-size-14 font-weight-600 text-muted">Gender</p>
                                    <p class="font-size-16 font-weight-100 text-muted">Male</p>
                                </div>
                                <div class="quesans">
                                    <p class="font-size-14 font-weight-600 text-muted">Reporting To</p>
                                    <p class="font-size-16 font-weight-100 text-muted">Head Name</p>
                                </div>
                                <div class="quesans">
                                    <p class="font-size-14 font-weight-600 text-muted">Date of Joining</p>
                                    <p class="font-size-16 font-weight-100 text-muted">12 June 2016</p>
                                </div>
                                <div class="quesans">
                                    <p class="font-size-14 font-weight-600 text-muted">Location</p>
                                    <p class="font-size-16 font-weight-100 text-muted">Kolkata</p>
                                </div>
                                <div class="quesans">
                                    <p class="font-size-14 font-weight-600 text-muted">Work Phone</p>
                                    <p class="font-size-16 font-weight-100 text-muted">N.A</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="test2" ng-show="currentTab == 'details'" class="col s12"><div class="row">
                        <div class="col s12 margin-top-10x">
                            <div class="quesans">
                                <p class="font-size-14 font-weight-600 text-muted">Job Description</p>
                                <p class="font-size-16 font-weight-100 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et auctor odio, ac porta elit. Quisque eleifend purus sem, vitae faucibus mi vestibulum nec.</p>
                            </div>
                        </div>
                        <div class="col s6 margin-top-10x">
                            <div class="quesans">
                                <p class="font-size-14 font-weight-600 text-muted">Mobile Phone</p>
                                <p class="font-size-16 font-weight-100 text-muted">+01-0000000000</p>
                            </div>
                            <div class="quesans">
                                <p class="font-size-14 font-weight-600 text-muted">Other Email</p>
                                <p class="font-size-16 font-weight-100 text-muted">travis@travis.com</p>
                            </div>
                            <div class="quesans">
                                <p class="font-size-14 font-weight-600 text-muted">BirthDay</p>
                                <p class="font-size-16 font-weight-100 text-muted">dd/mm/yy</p>
                            </div>
                        </div>
                        <div class="col s6 margin-top-10x">

                            <div class="quesans">
                                <p class="font-size-14 font-weight-600 text-muted">Martial Status</p>
                                <p class="font-size-16 font-weight-100 text-muted">Single</p>
                            </div>
                            <div class="quesans">
                                <p class="font-size-14 font-weight-600 text-muted">Address</p>
                                <p class="font-size-16 font-weight-100 text-muted">Punjabi bagh Delhi</p>
                            </div>
                            <div class="quesans">
                                <p class="font-size-14 font-weight-600 text-muted">Expertise</p>
                                <p class="font-size-16 font-weight-100 text-muted">Data Scientist</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div id="test3" ng-show="currentTab == 'exp'" class="col s12">
                        <br /><br />
                        <table class=" capitalize table striped bordered centered responsive-table">
                            <thead class="thead-border">
                                <tr>
                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">Previous Company</th>
                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">Job Title</th>
                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">From</th>
                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">To</th>

                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">Job Desc.</th>

                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">Opera..</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="uk-text-center"><p class="uk-text-center text-muted font-size-15 font-weight-200 ">Pedagoge</p></td>
                                    <td class="uk-text-center text-muted font-size-15 font-weight-200">
                                        SDE
                                    </td>
                                    <td><span class="text-muted font-size-12 font-size-15 font-weight-200">25/11/2016</span></td>
                                    <td class="uk-text-center text-muted font-size-15 font-weight-200">25/11/2017</td>
                                    <td class="uk-text-center text-muted font-size-15 font-weight-200"><i class="mdi mdi dots-vertical mdi-24px"></i></td>

                                    <td><p class="uk-text-center text-muted font-size-15 font-weight-200"></p></td>

                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <div id="test4" ng-show="currentTab == 'edu'" class="col s12">
                        <br /><br />
                        <table class=" capitalize table striped bordered centered responsive-table">
                            <thead class="thead-border">
                                <tr>
                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">Previous Company</th>
                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">Job Title</th>
                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">From</th>
                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">To</th>

                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">Job Desc.</th>

                                    <th class="uk-text-center text-muted font-size-14 font-weight-500">Opera..</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="uk-text-center"><p class="uk-text-center text-muted font-size-15 font-weight-200 ">Pedagoge</p></td>
                                    <td class="uk-text-center text-muted font-size-15 font-weight-200">
                                        SDE
                                    </td>
                                    <td><span class="text-muted font-size-12 font-size-15 font-weight-200">25/11/2016</span></td>
                                    <td class="uk-text-center text-muted font-size-15 font-weight-200">25/11/2017</td>
                                    <td class="uk-text-center text-muted font-size-15 font-weight-200"><i class="mdi mdi dots-vertical mdi-24px"></i></td>

                                    <td><p class="uk-text-center text-muted font-size-15 font-weight-200"></p></td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div id="test5" ng-show="currentTab == 'salary'" class="col s12">Test 5</div>
                    <div id="test6" ng-show="currentTab == 'attendance'" class="col s12">Test 6</div>
                </div>

            </div>
        </div>
    </div>
</div>