body{
    font-family: 'Roboto' , sans-serif !important;
    background-color: #EEECEA !important;
    overflow-y: auto!important;
}

.side-nav{
    width:250px !important;    
}
.transparent{
    background-color: transparent;
    border:0;
}
nav{
    background-color: #0075CE!important;
}
@media only screen and (min-width: 601px){
    nav {
        height: 43px;
        line-height: 64px;
    }
}
.img-responsive{
    max-width:100%;
    display:block;
}
#sidebar-wrapper{
    background-image: url(../img/sidebar.png);
    width:100%; 
    height:89px;
    background-repeat: no-repeat;
}  
.border-radius-50{
    border-radius:50%;
}
#logo{
    position: relative;
    top:14px;
    text-align: center;
}
.clearfix{
    display:inline-block;
    clear:both;
}
#preloader{
    position:fixed;
    top:50%;
    left:50%:
}
/*END OF THE SECOND MODAL*/
.text-muted{
    color:#7A7973 !important;
}
.font-size-9{
    font-size:9px!important;
}
.font-size-10{
    font-size:10px !important;
}
.font-size-11{
    font-size:11px;
}
.font-size-12{
    font-size:12px !important;
}
.font-size-13{
    font-size:13px;
}
.font-size-14{
    font-size:14px;
}
.font-size-15{
    font-size:15px;
}
.font-size-16{
    font-size:16px;
}
.font-weight-700{
    font-weight:700;
}
.font-weight-800{
    font-weight:800;
}
.font-weight-500{
    font-weight:500;
}
.btn-reset{
    background-color: #0075CE;
    padding:0 !important;
    height:auto !important;
    line-height:1.2;
}
.btn-post{
    padding:6px !important;
}
.btn-post:hover{
    background-color: #0075CE;
}
.inline-block li {
    display: inline-block !important;
}
.sidebar-adjust{
    position: relative;
    top: -9px;
}
.display-none{
    display:none;
}

@media all and (min-width :1000px){
    .loffset{
        margin-left:20% !important;
    }
}

table.striped>tbody>tr>td{
    padding:10px !important;
}
.pull-right{
    float:right !important;
}
.pull-left{
    float:left !important;
}
.clearfix{
    clear:both !important;
    display: block !important;
}
.card .card-content{
    padding: 0px !important;
}
.color-blue{
    color:#009EF3 !important;
}
.black-text{
    color:black !important;
}
.font-weight-600{
    font-weight:600 !important;
}
th.uk-text-center.text-muted.font-size-12.font-weight-500{
    padding:10px !important;
}
#icons-card-job{
    position: relative;
    top:-4px;
}
.pointer{
    cursor:pointer;
}
.padding-bottom-0{
    padding-bottom: 0px !important;
}
.thead-border{
    border-bottom:2px solid #D0CDC7;
}
.thead-border-1{
    border-bottom:1px solid #D0CDC7;
    border:0.5px solid #D0CDC7 !important;
}
.thead-border-2{
    border-bottom:1px solid #D0CDC7;

}
.badge-primary{
    background-color: #2196f3;
    color:white !important;
}
.badge-info{
    background-color: #0097a7;
    color:white !important;
}
.badge-warning{
    background-color:#ffa000;
    color:white !important;
}
.badge{
    font-size:10.5px !important;
    line-height: 1.5;
    font-weight:500 !important;
    border-radius:2px;
    margin-left:0px!important;
    letter-spacing: 0.8px !important;
    padding-top:1px !important;
    padding-bottom: 1px !important;
}
.padding-6{
    padding:6px !important;
    padding-left:3px !important; 
}
.padding-reset{
    padding:0px !important;
}
.padding-9{
    padding:9px !important;
}
.mdi-hover:hover{
    background-color:#727272 !important;
    height:32px !important;
    width:32px !important;
    border-radius: 50% !important;
}
.text-primary{
    color:#2196f3;
}
.text-warning{
    color:#0097a7;
}
.text-danger{
    color:#ffa000;
}
.margin-top-1x{
    margin-top:1px !important;
}
.margin-top-2x{
    margin-top:2px !important;
}

.margin-top-3x{
    margin-top:3px !important;
}
.margin-top-8x{
    margin-top:8px !important;
}
.dropdown-content li>a, .dropdown-content li>span{
    padding:7px 16px !important;
}
.dropdown-content li>a, .dropdown-content li>span{
    font-size:14px !important;
}
.dropdown-content li{
    min-height:40px!important;
}
.position-adjust-2{
    position: relative;
    top:2px;
}
.text-base-color{
    color:#0075CA;
}
.mdi-hover-icon{
    border-radius:50%;
}
.mdi-hover-icon:hover{
    background-color: rgba(0,0,0,0.2);
    border-radius:50%;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;      
}
/* label color */
.input-field label {
    color: #0075CE!important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #0075CE !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #0075CE;
    box-shadow: 0 1px 0 0 #0075CE !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #0075CE !important;
    box-shadow: 0 1px 0 0 #0075CE !important;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #0075CE !important;
    box-shadow: 0 1px 0 0 #0075CE !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #0075CE !important;
}
option{  color:#0075CA!important;
}    
.margin-bottom-5x{
    margin-bottom:5px;
}

/*Custom dropdowm*/
#logo-image{
    height: 120px;
    width: 285px;
}
.margin-left-5p{
    margin-left:5%;
}
#section-border-company{
    border-right:0.5px solid #D0CDC7;
}
.font-size-25{
    font-size:25px !important;
}
.margin-left-3{
    margin-left:3% !important;
}
.margin-left-8p{
    margin-left:8% !important;
}
#collection li.collection-item{
    background-color: transparent !important;
}
.padding-bottom-5x{
    padding-bottom:5px;   
}
.eee{
    background-color:#eee!important;
}
table>tbody>tr>td{
    padding:10px !important;
}
.border-none{
    border:none !important;
}
.modal.right-sheet {
    top: auto;
    left: 70%;
    margin: 0;
    width: 30%;
    max-height: 100%;
    height:100%;
    border-radius: 0;
    will-change: right, opacity;
    top:0px !important;
}
.padding-5{
    padding:5px;
}
.img-profile-employee-list{
    height:82px;
    width:82px;
    border-radius:50%;

}
.width-20{
    width:20%;
    overflow: hidden;
}
.base-background-color{
    background-color: #0096F2;
}
.base-color{
    color: #0096F2 !important;
}
.base-background-color:hover{
    background-color: #0096F2;
    color:#fff !important;
}
.btn-mini {
    height:31px !important;
    padding:0 1rem !important;
    line-height: 1 !important;
    color:#fff !important;
}
.btn:focus, .btn-large:focus, .btn-floating:focus{
    background-color: #0096F2 !important;
}
.btn{
    background-color: #0096F2 !important;
    color:#fff !important; 
}
.text-white{
    color:white !important;
}
.center{
    text-align:center !important;
    margin:0 auto !important;
}

.margin-left-20p{
    margin-left:20%;
}
#view-profile-img{
    height:120px;
    width:120px;
    object-fit: cover;
    padding:1px;
}
.padding-12x{
    padding:12px;
}
.margin-left-10x{
    margin-left:10px;
}
.margin-top-12x{
    margin-top:12px !important;
}
.margin-top-20x{
    margin-top:20px !important;
}
.margin-left-2x{
    margin-left:2px !important;
}
.color-black{
    color:black !important;
}
.btn-flat:focus , .btn-flat{
    background-color: rgba(0,0,0,0.1);
}
.margin-top-10x{
    margin-top:10px !important;
}
.font-size-18{
    font-size:18px;
}
.font-size-20{
    font-size:20px;
}
.border-left{
    border-left:0.5px solid #D0CDC7;
}
.padding-left-2x{
    padding-left:2px;
}
.text-more-muted{
    color:#9B9998;
}
.container-details li{
    margin-top: 10px;
    margin-left: 8px;
}
@media all and (max-width : 767px){
    .whole-content-profile{
        text-align:center;
    }
}
.tabs .tab a{
    color:#333;
    font-size:13px; 
}
.tabs .tab a:hover, .tabs .tab a.active{
    font-size:13px !important;
    color:#333;
}
.tabs .indicator{
    border-color:#0075CA !important;
    background-color: #0075CA!important;
}
.quesans{
    border-bottom:0.5px solid rgba(0,0,0,0.1) !important;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.font-weight-100{
    font-weight:300 !important;
}
.tabs{
    cursor:pointer !important;
}
.padding-right-0{
    padding-right: 0 !important;
}
.padding-left-0{
    padding-left:0 !important;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: #0874C9;
}

.waves-effect.waves-blue-light .waves-ripple {
    background-color: #44B4E5;
}

.pointer{
    cursor:pointer;
}

/* Let's get this party started */
.side-nav::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.side-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* Handle */
.side-nav::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #86bce6; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.side-nav::-webkit-scrollbar-thumb:window-inactive {
    background: #86bce6; 
}

.modal1.left .modal1-dialog,
.modal1.right .modal1-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal1.left .modal1-content,
.modal1.right .modal1-content {
    height: 100%;
    overflow-y: auto;
}

.modal1.left .modal1-body,
.modal1.right .modal1-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal1.left.fade .modal1-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal1.left.fade.in .modal1-dialog{
    left: 0;
}

/*Right*/
.modal1.right.fade .modal1-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal1.right.fade.in .modal1-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal1-content {
    border-radius: 0;
    border: none;
}

.modal1-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */
.modal-close{
    background-color: transparent!important;
    color:red;
    border:none;
    font-size:16px!important;
    position: relative;
    top:3px;
}
.modal-close:hover{
    background-color: transparent!important; 
    border:none;
    font-size:16px!important;
    position: relative;
    top:3px;
}
#modal-width-type-1{
    width:60%;
}
#modal-width-type-2{
    width:30%;
}
.modal-padding{
    padding:10px;
}
.prefix{
    position:relative;
    top:12px;
}
.font-weight-icon{
    font-weight:200;
}
.btn-save{
    width:50%;
}
.spre{
    width:12%;
}
.z-index-more{
    z-index: 999 !important;
}
.about-page-margin{
    margin-right:1%;
    margin-top:1%;
}
/*dropdown custom css*/

.material-dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 16px;
}

.material-dropdown figure {
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background: #3498DB;
    margin: 3px 0;
}

.middle {
    transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
    transform: scale(1);
    position: relative;
    box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
    -webkit-filter: blur(0.1px);
    filter: blur(0.1px);
}

.middle.active {
    transform: scale(4.5);
    transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
    box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: -1px;
    font-family: "Nunito", sans-serif;
    color: white;
    transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
    font-size: 22px;
    user-select: none;
}

.cross.active {
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54);
}

a,
li {
    color: #6b6b6b;
    text-decoration: none;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 3em;
    transition: all 0.25s ease-out;
    transform: scale(0);
    transform-origin: 100% 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    cursor:pointer;
    z-index:99999 !important;
}

.dropdown li {
    display: block;
    width: 100%;
}

.dropdown li a {
    width: 100%;
    padding: 0.5em 9px;
    display: inline-block;
    white-space: pre;
    box-sizing: border-box;
    border-bottom:0.5px solid rgba(0,0,0,0.2);
}

.dropdown li a:hover { background: #ebebeb; }

.dropdown:hover ul { transform: scale(1); }

.dropdown.active {
    transform: scale(1);
    transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
    background-color:#fff;
}

.follow {
    overflow: hidden;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background: #03A9F4;
    display: block;
    margin: 300px auto 0;
    white-space: nowrap;
    padding: 13px;
    box-sizing: border-box;
    color: white;
    transition: all 0.2s ease;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

.follow i {
    margin-right: 20px;
    transition: margin-right 0.2s ease;
}

.follow:hover { width: 134px; }

.follow:hover i { margin-right: 10px; }

.three-dots{
    font-size:18px;
}
.syn-icon{
    position: relative;
    top:-2px;
}
#list-goals-set{
    position: relative;
    top:30px;
}
#list-goals-set li{
    margin-left:12px;
}
.quesans1{
    border-bottom:1px solid rgba(0,0,0,0.15) !important;
}
.margin-right-2x{
    margin-right:2px;
}
.collapsible-body{
    padding-right:10px!important;
    padding-left:10px !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.chatbox{
    background-color:#EFEEEC;
    color:#333;
}
.chatbox .card-content{         height:350px;
    overflow:auto;
}
.sendbox{
    width:100%;
    background-color:#fff;
}
.chatbox .sendbox #send-btn{
    width:10%;
    position: relative;
    top: 54px;
    border:0.5px solid rbga(0,0,0,0.3);
}
.chatbox .sendbox #textareabox{
    width:90%;
}
#textareabox{
    padding:10px;
}
#chatbox-initiated-message{
    font-style: italic;   
}
.all-progress-msg{
    margin-top:6%;
}
.all-progress-msg .msg{
    background-color:#0687CE;
    color:white;
    font-size:13px;
    width:80%;
    padding:10px;
    border-radius:5px;
    position: relative; 
}
.all-progress-msg  .msg-name{
    width:10%;
    font-size:11px;

}
.bottom-reset{
    padding-bottom:0 !important;
    margin-bottom:0 !important;
}
.all-progress-msg .msg:after{
    content: "";
    position:absolute;
    margin-top:-6px;
    margin-right:-5px;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #0386CA;
 transform:rotate(45deg);
    left: -15px; 
    top: 10px;
}
.chatbox-textarea{
    border-right:2px solid #ABA6A1 !important;
     border-left:2px solid #ABA6A1 !important;
     border-top:2px solid #ABA6A1 !important;
}
/* Let's get this party started */
.modal1-dialog::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.modal1-dialog::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
/* Handle */
.modal1-dialog::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #86bce6; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.modal1-dialog::-webkit-scrollbar-thumb:window-inactive {
    background: #86bce6; 
}