body,html{
    font-family: 'Lato' , sans-serif !important;
    background-color: #EEECEA !important;
}

.side-nav{
    width:250px !important;
}
.transparent{
    background-color: transparent;
    border:0;
}
nav{
    background-color: #0075CE!important;
}
@media only screen and (min-width: 601px){
    nav {
        height: 43px;
        line-height: 64px;
    }
}
.img-responsive{
    max-width:100%;
    display:block;
}
#sidebar-wrapper{
    background-image: url(../img/sidebar.png);
    width:100%; 
    height:89px;
    background-repeat: no-repeat;
}  
.border-radius-50{
    border-radius:50%;
}
#logo{
    position: relative;
    top:14px;
    text-align: center;
}
.clearfix{
    display:inline-block;
    clear:both;
}
#preloader{
    position:fixed;
    top:50%;
    left:50%:
}
/*END OF THE SECOND MODAL*/
.text-muted{
    color:#8B8A83 !important;
}
.font-size-9{
    font-size:9px!important;
}
.font-size-10{
    font-size:10px !important;
}
.font-size-11{
    font-size:11px;
}
.font-size-12{
    font-size:12px !important;
}
.font-size-13{
    font-size:13px;
}
.font-size-14{
    font-size:14px;
}
.font-size-15{
    font-size:15px;
}
.font-size-16{
    font-size:16px;
}
.font-weight-700{
    font-weight:700;
}
.font-weight-800{
    font-weight:800;
}
.font-weight-500{
    font-weight:500;
}
.btn-reset{
    background-color: #0075CE;
    padding:0 !important;
    height:auto !important;
    line-height:1.2;
}
.btn-post{
    padding:6px !important;
}
.btn-post:hover{
    background-color: #0075CE;
}
.inline-block li {
    display: inline-block !important;
}
.sidebar-adjust{
    position: relative;
    top: -9px;
}
.display-none{
    display:none;
}

@media all and (min-width :1000px){
    .loffset{
        margin-left:20% !important;
    }
}
.modal.right-sheet {
    top: auto;
    left: 70%;
    margin: 0;
    width: 30%;
    max-height: 100%;
    height:100%;
    border-radius: 0;
    will-change: right, opacity;
    top:0px !important;
}
table.striped>tbody>tr>td{
    padding:10px !important;
}
.pull-right{
    float:right !important;
}
.pull-left{
    float:left !important;
}
.clearfix{
    clear:both !important;
    display: block !important;
}
.card .card-content{
    padding: 12px !important;
}
.color-blue{
    color:#009EF3 !important;
}
.black-text{
    color:black !important;
}
.font-weight-600{
    font-weight:600 !important;
}
th.uk-text-center.text-muted.font-size-12.font-weight-500{
    padding:10px !important;
}
#icons-card-job{
    position: relative;
    top:-4px;
}