@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot'), url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body,html{
    font-family: 'Lato' , sans-serif !important;
    background-color: #EEECEA !important;
}

.side-nav{
    width:250px !important;
}
.transparent{
    background-color: transparent;
    border:0;
}
nav{
    background-color: #0075CE!important;
}
@media only screen and (min-width: 601px){
    nav {
        height: 43px;
        line-height: 64px;
    }
}
.img-responsive{
    max-width:100%;
    display:block;
}
#sidebar-wrapper{
    background-image: url(../img/sidebar.png);
    width:100%; 
    height:89px;
    background-repeat: no-repeat;
}  
.border-radius-50{
    border-radius:50%;
}
#logo{
    position: relative;
    top:14px;
    text-align: center;
}
.clearfix{
    display:inline-block;
    clear:both;
}
#preloader{
    position:fixed;
    top:50%;
    left:50%:
}
/*END OF THE SECOND MODAL*/
.text-muted{
    color:#7A7973 !important;
}
.font-size-9{
    font-size:9px!important;
}
.font-size-10{
    font-size:10px !important;
}
.font-size-11{
    font-size:11px;
}
.font-size-12{
    font-size:12px !important;
}
.font-size-13{
    font-size:13px;
}
.font-size-14{
    font-size:14px;
}
.font-size-15{
    font-size:15px;
}
.font-size-16{
    font-size:16px;
}
.font-weight-700{
    font-weight:700;
}
.font-weight-800{
    font-weight:800;
}
.font-weight-500{
    font-weight:500;
}
.btn-reset{
    background-color: #0075CE;
    padding:0 !important;
    height:auto !important;
    line-height:1.2;
}
.btn-post{
    padding:6px !important;
}
.btn-post:hover{
    background-color: #0075CE;
}
.inline-block li {
    display: inline-block !important;
}
.sidebar-adjust{
    position: relative;
    top: -9px;
}
.display-none{
    display:none;
}

@media all and (min-width :1000px){
    .loffset{
        margin-left:20% !important;
    }
}
.modal.right-sheet {
    top: auto;
    left: 70%;
    margin: 0;
    width: 30%;
    max-height: 100%;
    height:100%;
    border-radius: 0;
    will-change: right, opacity;
    top:0px !important;
}
table.striped>tbody>tr>td{
    padding:10px !important;
}
.pull-right{
    float:right !important;
}
.pull-left{
    float:left !important;
}
.clearfix{
    clear:both !important;
    display: block !important;
}
.card .card-content{
    padding: 0px !important;
}
.color-blue{
    color:#009EF3 !important;
}
.black-text{
    color:black !important;
}
.font-weight-600{
    font-weight:600 !important;
}
th.uk-text-center.text-muted.font-size-12.font-weight-500{
    padding:10px !important;
}
#icons-card-job{
    position: relative;
    top:-4px;
}
.pointer{
    cursor:pointer;
}
.padding-bottom-0{
    padding-bottom: 0px !important;
}
.thead-border{
    border-bottom:2px solid #D0CDC7;
}
.thead-border-1{
    border-bottom:1px solid #D0CDC7;
    border:0.5px solid #D0CDC7 !important;
}
.thead-border-2{
    border-bottom:1px solid #D0CDC7;
    
}
.badge-primary{
    background-color: #2196f3;
    color:white !important;
}
.badge-info{
    background-color: #0097a7;
    color:white !important;
}
.badge-warning{
    background-color:#ffa000;
    color:white !important;
}
.badge{
    font-size:10.5px !important;
    line-height: 1.5;
    font-weight:500 !important;
    border-radius:2px;
    margin-left:0px!important;
    letter-spacing: 0.8px !important;
    padding-top:1px !important;
}
.padding-6{
    padding:6px !important;
    padding-left:3px !important; 
}
.padding-reset{
    padding:0px !important;
}
.padding-9{
    padding:9px !important;
}
.mdi-hover:hover{
    background-color:#727272 !important;
    height:32px !important;
    width:32px !important;
    border-radius: 50% !important;
}
.text-primary{
    color:#2196f3;
}
.text-warning{
    color:#0097a7;
}
.text-danger{
    color:#ffa000;
}
.margin-top-3x{
    margin-top:3px !important;
}
.margin-top-8x{
    margin-top:8px !important;
}
.dropdown-content li>a, .dropdown-content li>span{
    padding:7px 16px !important;
}
.dropdown-content li>a, .dropdown-content li>span{
    font-size:14px !important;
}
.dropdown-content li{
    min-height:40px!important;
}
.position-adjust-2{
    position: relative;
    top:2px;
}
.text-base-color{
    color:#0075CA;
}
.mdi-hover-icon{
    border-radius:50%;
}
.mdi-hover-icon:hover{
    background-color: rgba(0,0,0,0.2);
    border-radius:50%;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;      
}